In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [45]:
#pip install pandas openpyxl

In [21]:
District_23 = pd.read_excel('data/Education 2023_24/Accountablity/District_level/district_release_file_suppressed_2023.xlsx')
#school_24 = pd.read_excel('data/Education 2023_24/Accountablity/school_level/school_release_file_suppressed_2024.xlsx')

In [25]:
District_23.head(1
            )

,year,system,system_name,subject,grade,student_group,valid_tests,n_below,n_approaching,n_met_expectations,n_exceeded_expectations,pct_below,pct_approaching,pct_met_expectations,pct_exceeded_expectations,pct_met_exceeded
0,2023,10,Anderson County,Biology I,9th through 12th,All Students,438,94,137,176,31,21.4,31.3,40.2,7.1,47.3

In [75]:
#convert numeric columns to numeric and replece suppressed entries to NaN
District_23['valid_tests'] = pd.to_numeric(District_23['valid_tests'], errors='coerce')
District_23['n_below'] = pd.to_numeric(District_23['n_below'], errors='coerce')
District_23['n_approaching'] = pd.to_numeric(District_23['n_approaching'], errors='coerce')
District_23['n_met_expectations'] = pd.to_numeric(District_23['n_met_expectations'], errors='coerce')
District_23['n_exceeded_expectations'] = pd.to_numeric(District_23['n_exceeded_expectations'], errors='coerce')

In [77]:
#group and aggreage the df
District_total_23 = District_23.groupby(['year','system','system_name','student_group']).agg(
                    valid_tests = ('valid_tests', 'sum'),
                    n_below = ('n_below','sum'),
                    n_approaching = ('n_approaching','sum'),
                    n_met_expectations = ('n_met_expectations','sum'),
                    n_exceeded_expectations = ('n_exceeded_expectations','sum')).reset_index()
District_total_23.head()

,year,system,system_name,student_group,valid_tests,n_below,n_approaching,n_met_expectations,n_exceeded_expectations
0,2023,10,Anderson County,All Students,21775,5093.0,8512.0,6500.0,1670.0
1,2023,10,Anderson County,Black/Hispanic/Native American,1908,545.0,763.0,480.0,88.0
2,2023,10,Anderson County,Economically Disadvantaged,6540,1990.0,2733.0,1437.0,266.0
3,2023,10,Anderson County,English Learners with Transitional 1-4,437,78.0,104.0,38.0,8.0
4,2023,10,Anderson County,Students with Disabilities,3758,1734.0,1173.0,436.0,102.0

In [113]:
# Calculate passed students
District_total_23['passed'] = District_total_23['n_met_expectations'] + District_total_23['n_exceeded_expectations']

# Calculate percentage passed with numeric formatting
District_total_23['pct_passed'] = (District_total_23['passed'] * 100 / District_total_23['valid_tests']).round(2)

# Filter for 'All Students'
District_total_23_filtered = District_total_23.loc[District_total_23['student_group'] == 'All Students']

# Sort by 'pct_passed' descending
District_total_23_sorted = District_total_23_filtered.sort_values(by='pct_passed', ascending=False)

District_total_23_sorted.head(30)

,year,system,system_name,student_group,valid_tests,n_below,n_approaching,n_met_expectations,n_exceeded_expectations,passed,pct_passed
813,2023,940,Williamson County,All Students,152273,9328.0,33718.0,69697.0,39530.0,109227.0,71.73
48,2023,52,Maryville,All Students,20249,1709.0,4643.0,9014.0,4881.0,13895.0,68.62
694,2023,796,Germantown,All Students,20983,1560.0,5135.0,9444.0,4844.0,14288.0,68.09
688,2023,795,Collierville,All Students,33286,2681.0,8232.0,13562.0,8811.0,22373.0,67.21
700,2023,797,Lakeland,All Students,9643,716.0,2582.0,4141.0,2204.0,6345.0,65.80
676,2023,793,Arlington,All Students,16108,1371.0,4380.0,7170.0,3187.0,10357.0,64.30
789,2023,901,Johnson City,All Students,28020,3515.0,7316.0,10659.0,6530.0,17189.0,61.35
819,2023,941,Franklin SSD,All Students,13516,1622.0,3810.0,5420.0,2664.0,8084.0,59.81
275,2023,275,Gibson Co Sp Dist,All Students,14416,1761.0,4587.0,5895.0,2173.0,8068.0,55.97
825,2023,950,Wilson County,All Students,69650,9536.0,21456.0,27387.0,11271.0,38658.0,55.50
149,2023,151,Newport,All Students,2756,330.0,912.0,1162.0,352.0,1514.0,54.93
365,2023,391,Lexington,All Students,3586,410.0,1216.0,1524.0,436.0,1960.0,54.66
12,2023,12,Oak Ridge,All Students,17296,2488.0,5523.0,6684.0,2601.0,9285.0,53.68
179,2023,171,Alamo,All Students,1846,234.0,626.0,712.0,274.0,986.0,53.41
754,2023,850,Trousdale County,All Students,5184,785.0,1645.0,2013.0,741.0,2754.0,53.12
742,2023,830,Sumner County,All Students,112672,17234.0,36166.0,42734.0,16538.0,59272.0,52.61
682,2023,794,Bartlett,All Students,32457,4283.0,11444.0,12691.0,4039.0,16730.0,51.55
6,2023,11,Clinton,All Students,3228,440.0,1128.0,1232.0,428.0,1660.0,51.43
730,2023,821,Bristol,All Students,14736,2377.0,4808.0,5585.0,1966.0,7551.0,51.24
113,2023,101,Elizabethton,All Students,9821,1510.0,3328.0,3752.0,1231.0,4983.0,50.74
377,2023,401,Paris,All Students,7018,904.0,2608.0,2652.0,854.0,3506.0,49.96
125,2023,120,Chester County,All Students,10080,1532.0,3590.0,3808.0,1150.0,4958.0,49.19
221,2023,230,Dyer County,All Students,12896,1954.0,4614.0,4868.0,1460.0,6328.0,49.07
568,2023,660,Obion County,All Students,10760,1501.0,4045.0,4333.0,881.0,5214.0,48.46
185,2023,172,Bells,All Students,992,138.0,374.0,362.0,118.0,480.0,48.39
736,2023,822,Kingsport,All Students,27201,4997.0,9098.0,9334.0,3772.0,13106.0,48.18
299,2023,301,Greeneville,All Students,9920,1558.0,3594.0,3605.0,1163.0,4768.0,48.06
269,2023,274,Bradford,All Students,2212,369.0,794.0,846.0,203.0,1049.0,47.42
634,2023,750,Rutherford County,All Students,187153,35154.0,63310.0,64999.0,23690.0,88689.0,47.39
801,2023,920,Weakley County,All Students,13785,2283.0,5094.0,5093.0,1315.0,6408.0,46.49

In [115]:
District_total_23_sorted[(District_total_23_sorted['system_name']=='Rutherford County') | (District_total_23_sorted['system_name']=='Davidson County')]

,year,system,system_name,student_group,valid_tests,n_below,n_approaching,n_met_expectations,n_exceeded_expectations,passed,pct_passed
634,2023,750,Rutherford County,All Students,187153,35154.0,63310.0,64999.0,23690.0,88689.0,47.39
197,2023,190,Davidson County,All Students,258310,92717.0,93963.0,55814.0,15816.0,71630.0,27.73

In [ ]:
# add zipcode column

In [ ]:
#add student attendance column

In [ ]:
#add student cronic absenteeism column

In [ ]:
#add crime rating column